* {
  margin: 0;
  padding: 0;
}
.navigationbar{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    /* border: 2px solid red; */
    /* position: fixed; */
    align-items: center;
    right: 0;
    left: 0;
    top:0;
    /* background-color: black; */
    text-align: center;
    background-color:   rgb(204, 196, 196);;
    /* opacity: 0.6; */
    /* gap: 50%; */
}
#NuruShel{
    font-size: 1.6rem;
    font-weight: 700;
    /* margin-left: auto; */
    /* margin-left: 20px; */
    /* text-align: left; */
    /* border: 2px solid red; */
}
ul li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
ul li a{
    text-decoration: none;
    color: black;
    /* color: white; */

}


.firstrowimages img {
  width: 130px;
  border-radius: 20px;
  /* border: 2px solid blue; */
}
.secondrowimage img {
  width: 130px;
  border-radius: 20px;
}
.thirdrowimages img {
  width: 130px;
  border-radius: 20px;
}
.firstrowimages,
.secondrowimage,
.thirdrowimages {
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding: 8px;
  border-radius: 20px;
}
.view {
  display: flex;
  justify-content: space-around;
  background-color: rgb(204, 196, 196);
  /* border: 2px solid blue; */
}
.river {
  display: flex;
  border: 2px solid green;
  height: 85vh;
  padding-left: 35px;
  background-color: rgb(204, 196, 196);
}
#star{
    padding-top: 8%;
    font-size: 30px;
}
#des{
    padding-top: 15%;
}
#button2{
    padding-top: 5%;
}
#text {
  width: 600px;
  /* border: 2px solid red; */
}
#food {
  width: 600px;
  border: 2px solid black;
  padding-top: 10%;
  padding-left: 20%;
}
#d {
  display: flex;
  padding-top: 9%;
}

#fd {
  padding-left: 40px;
  padding-top: 30px;
}
.fotter2 {
  height: 40vh;
  /* border: 2px solid red; */
  display: flex;
  background-color: rgb(219, 212, 212);
}
.nuro {
  width: 60%;
  /* border: 2px solid green; */
}
.left {
  width: 40%;
  /* border: 2px solid yellow; */
  display: flex;
  text-align: center;
}
#learn {
  width: 50%;
  /* border: 2px solid black; */
}
#source {
  width: 50%;
  /* border: 2px solid red; */
}
.learn > p {
  font-size: 30px;
  /* padding-top: 0px; */
}
#seeMoreBtn {
  padding: 10px;
  border: none;
}
#seeMoreBtn{
  text-decoration: none;
      color:blue;
    border: 2px solid blue;
     padding: 10px 18px 10px 18px;
   border-radius: 5px;
   padding-top: 20PX;
}

